body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/airplane.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.info-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 25vw;
    text-align: center;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.info-container label {
    display: block;
    margin-left: 9%;
    margin-bottom: 10px;
    margin-top: 10px;

    text-align: start;
    font-size: 22px;
    color: white;
    /* margin: 8px; */

}

.info-container input {
    height: 3vh;
    width: 80%;
    padding: 8px;
    font-size: 22px;
    color: black;
    /* Add transition for smooth effect */

}



.login-button {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 50%;
    border-radius: 15px;
    border-color: transparent;
    background-color: #146C94;
    color: white;
    font-size: 18px;
    height: 5vh;
}

.login-button:hover {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 50%;
    border-radius: 15px;
    border-color: transparent;
    background-color: white;
    color: black;
    font-size: 18px;
    cursor: pointer;
    height: 5vh;

}

.div-button {
    width: 100%;
    text-align: center;
}

.register-button {
    margin: 16px;
    background-color: transparent;
    color: white;
    text-decoration: none;

}

.register-button ::after {
    margin: 12px;
    background-color: transparent;
    color: white;
    text-decoration: none;

}

.register-button:hover {
    margin: 12px;
    background-color: transparent;
    color: #146C94;
    text-decoration: none;

}

.upload-file{
    width: 50%;
    background-color: indigo;
    color: white;
    cursor: pointer;
    margin-top: 1rem;
}
.upload-file-con{
    display: block;
    width: 100%;
    text-align: center;
    background-color: green;
}