.home-button {
    background-color: #146C94;
    width: 8vw;
    height: 4vw;
    margin: 8px;
    border-color: transparent;
    color: white;
    border-radius: 15px;
}

.home-button:hover {
    background-color: white;
    width: 8vw;
    height: 4vw;
    margin: 8px;
    border-color: black;
    color: black;
    border-radius: 15px;
    cursor: pointer;
}

.buttons-div {
    display: flex;
    align-items: center;
}

.company-info {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.company-logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.company-name {
    font-size: 18px;
    color: #333;
}

.image{
    width: 20vw;
    border-radius: 15px;
    border-color: #146C94;
    margin-right: 8px;
}